<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <title>Toboolist</title>
</head>
<body>
    <header>

        <!--Logo e header-->
        <div class="container">
            <img id="logo" src="img/logo.jpg" alt="">
            <span id="logo-text">Board Games List</span>
        </div>
    </header>

    <main id="app">
        <section>
            <!--Bottoni-->
            <div class="container2">
                <button @click="addTodo(inputTodo)" class="button" :submit="clearInput">Aggiungi</button>
                <input type="text" v-model="inputTodo" @keyup.enter="addTodo(inputTodo)" id="add-todo">              
            </div>
        </section>

        <section>
            <div class="container3">                
                <h2 class="title">Board Games</h2>
                <ul>
                    <li v-for="(element, index) in elements" class="checked">
                        <span class="uncheck-entity" @click="removeTodo(index)">&#10008;</span>
                        <span :class="itsDone(element.done)" @click="invertDone(index)">{{element.text}}</span>
                    </li>
                </ul>                

            </div>            
        </section>      
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>